.wrapper_filter{
    position: relative;
    background-color: #65ec87;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px #021808 solid;
    z-index: 2;
    transition: .5s ease all;
    color: #021808;
    
    width:35px;
    
    /* min-width:max-content;
    max-height: min-content; */
}

.open_position_filter{
    margin-left: 2%;
    transition: .5s ease all;
    width:200px;
    max-width: 200px;
    visibility:visible; 
    height: min-content;
} 

.tooltip_filter{
    width: 15px;
    max-height:30px ;
    font-size :30px;
    font-weight: bold;
    color:#ffffff;
    cursor: pointer; 
    margin-right: 5px;
}

.tooltip_filter::before{
    content:">";
} 

.open_position_filter .tooltip_filter::before{
    content:"<";
}

/* for popup ___*/

.tooltip_filter {
    position: sticky;
    display: inline-block;
  }
  
  .tooltip_filter .tooltiptext_filter {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip_filter .tooltiptext_filter::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 87%;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip_filter:hover .tooltiptext_filter {
    visibility: visible;
    opacity: 1;
  }

  /* __________ */

.main_filter_conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px ;
    
} 

.wrapper_tooltip_filter{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.filter_attributes_list{
    display: flex;
    flex-direction: column;
}

.filter_chechbox{
    all: revert;
    /* width: 10px;
    height: 10px; */
    background: #ffffff;
}

.labael_filter_color{
    display: inline-flex;
    margin: 2px;
}