@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@200&display=swap');

@import "././styles/header.css";
@import "././styles/cart.css";
@import "././styles/cartOverlay.css";
@import "././styles/categories.css";
@import "././styles/currency.css";
@import "././styles/discriptionsGoods.css"; 
@import "././styles/filter.css"; 

* {
    margin: 0;
    padding: 0;
    color: #1D1F22;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    background-color:  #FFFFFF;
    max-width: 1440px;
    grid-template-columns: 5% 1fr 5%;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
}

.wrapper_main{
    grid-area: main;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 5% 1fr 5%;
    transition: .5s all ease;
 }
